.b-social-login-buttons {
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px;
	font-size: 12px;
	margin: 0 0 20px;
}

.b-social-login-buttons__text {
	font-size: 12px;
}

.b-social-login-button {
	background-color: transparent;
	background-image: url("../img/default-sprite.png");
	width: 50px;
	display: inline-block;
	margin: 0 10px 0 0;
	border-radius: 5px;
	border: 1px solid #fff;
	vertical-align: top;
	font-size: 11px;
	text-align: center;
	padding: 35px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}

.b-social-login-button__text {
	margin: 0;
}

.b-social-login-button.i-logo-google {
	background-position: 9px 0;
}

.b-social-login-button.i-logo-facebook {
	background-position: 9px -50px;
}

.b-social-login-button.i-logo-twitter {
	background-position: 9px -100px;
}

.b-social-login-button.i-logo-yahoo {
	background-position: 9px -150px;
}

.b-social-login-button.i-logo-paypal {
	background-position: 9px -200px;
}

.b-social-login-icon {
	background-color: transparent;
	background-image: url("../img/default-sprite.png");
	height: 16px;
	width: 16px;
	margin: 0 5px 10px 0;
	border-radius: 2px;
	padding: 0;
	border: none;
	cursor: pointer;
}

.b-social-login-icon:hover {
	box-shadow: 0 0 5px #666;
	border: none;
}

.b-social-login-icon.i-logo-google {
	background-position: -150px 0;
}

.b-social-login-icon.i-logo-facebook {
	background-position: -150px -50px;
}

.b-social-login-icon.i-logo-twitter {
	background-position: -150px -100px;
}

.b-social-login-icon.i-logo-yahoo {
	background-position: -150px -150px;
}

.b-social-login-icon.i-logo-paypal {
	background-position: -150px -200px;
}

.b-social-login-message {
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px;
	font-size: 12px;
	margin: 0 0 20px;
}

.b-social-login-message__control {
	margin: 0 0 0 -10px;
	float: left;
	width: 100px;
	text-align: center;
	font-size: 11px;
}

.b-social-login-message__text {
	margin: 0 0 0 100px;
}

.b-social-login-message__logo {
	background-image: url("../img/default-sprite.png");
	height: 32px;
	width: 32px;
	display: inline-block;
	margin: 0 0 5px;
}

.b-social-login-message__logo.i-logo-google {
	background-position: 0 0;
}

.b-social-login-message__logo.i-logo-facebook {
	background-position: 0 -50px;
}

.b-social-login-message__logo.i-logo-twitter {
	background-position: 0 -100px;
}

.b-social-login-message__logo.i-logo-yahoo {
	background-position: 0 -150px;
}

.b-social-login-message__logo.i-logo-paypal {
	background-position: 0 -200px;
}

.b-social-login-message__reset {
	font-size: 11px;
	margin: 0;
}

.b-social-login-separator {
	height: 1px;
	background-color: #ccc;
	margin: 30px 0;
}

.b-social-login-accounts {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 15px;
}

.b-social-login-accounts__row {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	background-color: #fff;
}

.b-social-login-accounts__row_state_linked {
	background-color: #dff3dc;
}

.b-social-login-logo {
	background-color: transparent;
	background-image: url("../img/default-sprite.png");
	height: 16px;
	width: 16px;
	border-radius: 2px;
	padding: 0;
}

.b-social-login-logo.i-logo-google {
	background-position: -150px 0;
}

.b-social-login-logo.i-logo-facebook {
	background-position: -150px -50px;
}

.b-social-login-logo.i-logo-twitter {
	background-position: -150px -100px;
}

.b-social-login-logo.i-logo-yahoo {
	background-position: -150px -150px;
}

.b-social-login-logo.i-logo-paypal {
	background-position: -150px -200px;
}

.b-social-login-accounts__cell {
	padding: 5px;
	vertical-align: middle;
}